@import 'variables';

* {
  box-sizing: border-box;
  line-height: 1;
}

body {
  @include spacingless;
  font-family: $font-main;
  color: $color-dark;
}

h1, h2, h3, h4, h5, h6 {
  @include spacingless;
  font-weight: 300;
}

a {
  &[href] {
    text-decoration: none;
    color: $color-main;
    font-weight: 600;
  }
}
