@import '../../variables';

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $space;
  padding: 0 $space;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(6, 1fr);
  }
}
