@import '../../variables';

.footer {
  padding: $space-big;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    @include rich-text;
    span {
      color: $color-main;
      font-weight: 600;
    }
  }
}
