@import '../../variables';

.hero {
  padding: $space-big $space-double;
  position: relative;

  .title {
    font-size: 3rem;
  }

  .text {
    @include rich-text;
    margin-top: $space-double;
  }

  span {
    color: $color-main;
  }

  @include tablet {
    padding: $space-big * 2 $space-big;
  }
}
